header {
    background-color: #014e2e;
    color: white;
    padding: 3px;
    grid-area: header;
    padding: 1em;
}
nav {
    background-color: yellow;
    grid-area: nav;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

nav > ul > li {
    position: relative;
    width:100%;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: green;
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in; /* will take 0.5 seconds to fade in */
    pointer-events: none; /* Sub menus cannot be interacted with */
}


nav > ul > li:hover ul {
    opacity: 1;
    pointer-events: auto; /* Sub menus can be interacted with */
}

nav ul ul li:hover {
    background-color: red;
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}
aside {
    background-color: lightgreen;
    grid-area: aside;
}
footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}

.showNav {height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.showNav::before {content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}