header {
    background-color: #014e2e;
    color: white;
    padding: 3px;
    grid-area: header;
}
nav {
    background-color: yellow;
    grid-area: nav;
}
main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}
aside {
    background-color: lightgreen;
    grid-area: aside;
}
footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 7% 28% 60% 5%;
    grid-template-areas:"header header header""nav nav nav""main main aside" "footer footer footer";}

.img {
}